@model SisCor.Models.Cotacao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cotacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriadoPor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriadoPor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdClienteNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
